/** Fucss globals */ 
html, body{min-height: 100%; height: 100%;}
body{margin: 0; text-align: center; border-width: 0;              font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;letter-spacing: 0.02em;              -webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility;}
*{outline: 0; padding: 0; box-sizing: border-box; margin: 0; border-style: solid; outline-style: solid; border-width: 0; vertical-align: baseline;}
*:not([class*="jc\:"]) > *{margin: 0 auto;}
a{text-decoration: none; color: inherit;}
a, span, img, button, i, label{display: inline-block; vertical-align: middle;}
button, a, i, label, img{cursor: pointer; font-style: normal;}
input, button, select, option, textarea{font-size: 100%; font-family: inherit;}
::selection{background: #8D34D5; color: #fff;}
[contenteditable]{cursor: text}
[contenteditable]:empty:before{content: attr(placeholder); opacity: 0.5; display: block;}
/** Fucss class rules */ 
.dp\:flx{display:flex;}
.ai\:c{align-items:center;}
.mnh\:100vh{min-height:100vh;}
.jc\:c{justify-content:center;}
.c\:F9FBFD{color:#F9FBFD;}
.mxw\:100pc{max-width:100%;}
.of\:hd{overflow:hidden;}
.bg\:1A1D22{background:#1A1D22;}
.fs\:100pc{font-size:100%;}
.h\:25px{height:25px;}
.m-t\:2px{margin-top:2px;}
.m-l\:10px{margin-left:10px;}
.fs\:80pc{font-size:80%;}
.c\:4B4D51{color:#4B4D51;}
.m-t\:3px{margin-top:3px;}
.fw\:600{font-weight:600;}
.ta\:l{text-align:left;}
.p-t\:70px{padding-top:70px;}
.p-rl\:15px{padding-right:15px;padding-left:15px;}
.p-b\:20px{padding-bottom:20px;}
.w\:100vw{width:100vw;}
.mxw\:704px{max-width:704px;}
.m-b\:100px{margin-bottom:100px;}
.ai\:fs{align-items:flex-start;}
.jc\:fs{justify-content:flex-start;}
.ts\:bg{transition:background .45s cubic-bezier(0.23, 1, 0.32, 1);}
.p\:10px{padding:10px;}
.br\:5px{border-radius:5px;}
.bg\:1F2126{background:#1F2126;}
.m-t\:10px{margin-top:10px;}
.bs\:1{box-shadow:0px 1px 2px rgba(0,0,0,0.10);}
.c\:D7D9DC{color:#D7D9DC;}
.ac-bg\:black:active{background:#111;}
.crs\:pt{cursor:pointer;}
.bg\:black{background:#111;}
.fs\:160pc{font-size:160%;}
.m-t\:5px{margin-top:5px;}
.lh\:1\.1{line-height:1.1;}
.mxw\:200px{max-width:200px;}
.fs\:95pc{font-size:95%;}
.m-tb\:20px{margin-top:20px;margin-bottom:20px;}
.c\:56585C{color:#56585C;}
.m-b\:2px{margin-bottom:2px;}
.p-r\:10px{padding-right:10px;}
.p\:3px-5px{padding:3px 5px;}
.c\:prim{color:#8D34D5;}
.bg\:white{background:#fff;}
.bs\:2{box-shadow:0px 2px 4px rgba(0,0,0,0.12);}
.fw\:800{font-weight:800;}
.fs\:70pc{font-size:70%;}
.br\:3px{border-radius:3px;}
.tt\:uc{text-transform:uppercase;}
.lh\:1\.7{line-height:1.7;}
.hv-bs\:1_bg\:prim_c\:white:hover{box-shadow:0px 1px 2px rgba(0,0,0,0.10);background:#8D34D5;color:#fff;}
.ts\:all{transition:all .45s cubic-bezier(0.23, 1, 0.32, 1);}
.c\:grey300{color:#bdbdbd;}
.m-t\:20px{margin-top:20px;}
.w\:100pc{width:100%;}
.m\:15px-auto{margin:15px auto;}
.bg\:26292D{background:#26292D;}
.mxw\:674px{max-width:674px;}
.fs\:85pc{font-size:85%;}
.c\:grey200{color:#e0e0e0;}
.bg\:ts{background:transparent;}
.ps\:fx{position:fixed;}
.t\,l\:0{top:0;left:0;}
.jc\:sb{justify-content:space-between;}
.h\:14px{height:14px;}
.m-r\:5px{margin-right:5px;}
.lh\:1{line-height:1;}
.fs\:90pc{font-size:90%;}
.b\,r\:0{bottom:0;right:0;}
.m\:0-15px{margin:0 15px;}
.m-b\:10px{margin-bottom:10px;}
.mxw\:calc\(704px-5px\){max-width:calc(704px - 5px);}
.p-l\:25px{padding-left:25px;}
.bg\:prim800{background:#5f06a7;}
.p\:3px{padding:3px;}
.l\:0{left:0;}
.m-b\:5px{margin-bottom:5px;}
.bg\:prim{background:#8D34D5;}
.h\:3px{height:3px;}
.m-l\:0{margin-left:0;}
.h\,w\,mnw\,lh\:45px{height:45px;width:45px;min-width:45px;line-height:45px;}
.bg-sz\:cv{background-size:cover;}
.bg-ps\:c{background-position:center;}
.m-rl\:0{margin-right:0;margin-left:0;}
.fs\:150pc{font-size:150%;}
.fs\:40pc{font-size:40%;}
.m-r\:0{margin-right:0;}
.p\:7px{padding:7px;}
.br\:50pc{border-radius:50%;}
.bd\:1px-sld-white{border:1px solid #fff;}
.bg\:blacka2{background:rgba(17,17,17,0.2);}
.m-t\:7px{margin-top:7px;}
.dp\:n{display:none;}
.bg\:blacka5{background:rgba(17,17,17,0.5);}
.w\,h\:100pc{width:100%;height:100%;}
.an\:fadeIn{animation:fadeIn;}
.z\:2{z-index:2;}
.p\:10px-30px{padding:10px 30px;}
.w\,h\:50px{width:50px;height:50px;}
.an\:scaler-inf-1s-eio{animation:scaler infinite 1s ease-in-out;}
@keyframes spin{to { transform: rotate(360deg); }}
@keyframes fadeIn{from { opacity: 0.2; } to { opacity: 1; }}
@keyframes fadeOut{from { opacity: 1; } to { opacity: 0.5; }}
@keyframes scaler{0% { transform:scale(0);opacity:1 } to { transform:scale(1);opacity:0 }}
@keyframes hide{to { position: absolute; visibility: hidden; }}
@keyframes land{0% { opacity: 0.3; transform: translateY(-3rem); } to { opacity: 1; transform: translateY(0); }}
@keyframes dash{to { stroke-dashoffset: 0; }}
@keyframes marquee{0% { transform: translateX(0); } 100% { transform: translateX(-50%); }}
@keyframes bounce{0% { transform: scale(1,1) translateY(0); } 10% { transform: scale(1.1,.9) translateY(0); } 30% { transform: scale(.9,1.1) translateY(-100px); } 50% { transform: scale(1.05,.95) translateY(0); } 57% { transform: scale(1,1) translateY(-7px); } 64% { transform: scale(1,1) translateY(0); } 100% { transform: scale(1,1) translateY(0); }}
